*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/KF7013-2021/assets/images/index-background.jpg);
  height: 100vh;
  background-size:cover;
  
}


nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #1165d3;
}

nav ul a{
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem;
  line-height: 40px;
  transition: 0.3s;
}

nav ul a:hover{
  background-color: #000000;
}

nav ul li:first-child{
  flex-grow: 0.8;
  font-size: 25px; 
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}
  

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  

.dropdown-content a:hover {
  background-color: #ddd;
}
  

.dropdown:hover .dropdown-content {
  display: block;
}
  
 
main {
  display: flex;
  flex-direction: column;
  width: 100;
}

main p {
  color: #fff;
}

.main-title{
  color: #fff;
}

.title-introduction-position{
  width: 70%;
  margin: 10% auto;
  text-align: left;
  min-height: 8em;
  background-color: rgb(0,0,0,0.3);
  padding: 2em;
    
}

.button-position{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 35%;
  margin: 0 auto;
  text-decoration: none;
}

.button-position a{
  text-decoration: none ;
  color: #fff;
  padding: 0.8em;
  border: 0;
  border-radius: 6px;
  background-color: #1165d3;
  transition: 0.3s;  
}



  
/****FOOTER*****/
footer{
  margin-top: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1165d3;
  height: auto;
  padding: 2em 8em;
  color: #fff;
  text-align: center;
}


footer div{
  width: 18em;
  padding: 2em 0em;
}

footer img{
  max-width: 75%;
}


footer a {
  color: #fff;
  text-decoration: none;
}


footer div p{
  font-size:30px ;
}

#useful-links li{
  padding: 0.4em ;
  text-align: left;

}

#useful-links{
  list-style-position: inside;
  flex-direction: column;
  display: flex;
  align-items: center;
  
}

.social li
{
  color: #fff;
  list-style: none;
  padding: 0.6em;
  
}




